// Typography
$base-font-family: "Gotham";
$heading-font-family: "Gotham", sans-serif;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: .25em;
$base-z-index: 0;

// Colors
$blue: $ice;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #fff;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;


$_form-background-color: #fff;
$_form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$_form-box-shadow-focus: $_form-box-shadow, 0 0 5px rgba($action-color, 0.7);

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label {
  display: block;
  font-weight: 100;
  margin-bottom: $small-spacing / 2;
  padding: $small-spacing;
}

input,
select,
textarea {
  display: block;
  font-family: $base-font-family;
  font-size: 11px;
  color: #757575;
}



input:not(#mobilePhone), textarea {
  appearance: none;
  background-color: $_form-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $_form-box-shadow;
  box-sizing: border-box;
  margin-bottom: $small-spacing;
  padding: $base-spacing / 3;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    box-shadow: $_form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade($_form-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }

  &::placeholder {
    color: tint($base-font-color, 40%);
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $small-spacing;
  width: 100%;
  height: 27px;
  background-color: #fff;
  border: 1px solid #ddd;
}

[type="checkbox"],
[type="radio"],
[type="file"],
select {
  &:focus {
    outline: none;
  }
}

.contact-container {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  #contact-form {
    width: 600px;
  }
  .form-group {
    max-width: 570px;
    label {
      display: block;
      font-size: 11px;
    }
    &.full {
      width: 100%;
      padding: 15px;
    }
    &.half {
      width: 45%;
      float: left;
      padding: 15px;
    }




  }
  button {
    background-color:#2196f3
  }
}
