.call-to-action {
  bottom: 150px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  img {
    width: 250px;
    border: 1px solid $white;
  }
  .cta-description {
    border-right: none;
    height: 250px;
    font-family: $gotham, sans-serif;
    text-transform: uppercase;
    color: $white;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    h3 {
      font-family: $sacramento, cursive;
      text-transform: lowercase;
      font-weight: 100;
      font-size: 48px;
      margin: 0px;
    }
    p{
      font-size: 30px;
      font-weight: 100;
      letter-spacing: 10px;
      margin: 5px 0px 20px 0px;
    }
    button {
      font-family: $gotham;
      font-size: 18px;
      letter-spacing: 10px;
      font-weight: bold;
      border: 1px solid $blue;
      background-color: $blue;
      min-height: 40px;
      a {
        text-decoration: none;
        color: $green !important;
        &:visited {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}



@media only screen and (max-width: 1024px) {
  .section-title {
    padding: 0;
    font-size: 20px;
    position: relative;
    z-index: 1;
    &.first {
      margin: 0 !important;
      h2 {
        margin: 0;
      }
    }
    h2 {
      color: $ice;
      &:before, &:after {
        border-color: $ice;
      }
    }
  }
  .call-to-action {
    height: auto;
    position: relative;
    padding: 20px 0px 40px 0px;
    margin-top: -5px;
    border-top: 2px solid $ice;
    bottom: 0;
    .cta-description {
      width: 90%;
      border: none;
      height: unset;
      align-items: center;
      color: $green;
      h3 {
        font-size: calc(20px + (48 - 20) * ((100vw - 300px) / (1200 - 300)));
      }
      p, button {
        font-size: calc(18px + (48 - 18) * ((100vw - 300px) / (1200 - 300)));
      }
    }
  }
}
