.main-nav {
  display: flex;
  position: fixed;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  top: 0px;
  margin: 0;
  padding: 0px;
  z-index: 999;
  width: 100vw;
  transition: background-color .2s ease-in-out, height .2s linear;
  .logo-container {
    width: 275px;
    height: 50px;
    padding-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    img {
      width: 100%;
    }
  }
  .nav-links-container {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    padding: 0px 30px;
    margin: 0;

    li {
      padding: 0px 20px;
    }
  }
  li {
    > a {
      font-family: $gotham;
      text-transform: uppercase;
      font-weight: normal;
      text-decoration: none;
      font-size: 12px;
      color: $white;

      &:hover, &:active {
        border-bottom: 1px solid $white;
        padding-bottom: 2px;
        transform: all .2s ease-in;
      }
      &:visited {
        color: $white;
      }
    }
  }
}




@media only screen and (max-width: 1024px) {
  .main-nav {
    display: block;
    height: 100%;
    max-height: 185px;
    position: absolute;
    .logo-container {
      display: block !important;
      position: absolute !important;
      z-index: 999;
      padding: 0;
      max-width: 250px;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
    }
    .nav-links-container {
      display: none;
    }
  }
}
