.row {
  background: $white;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  .section-content {
    display: flex;

      .gradient-container {
        width: 100%;
        // height: 95%;
        padding: 100px 0px;
        background: $ice; /* Old browsers */
        background: -moz-linear-gradient(top, $ice 0%, $green 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, $ice 0%,$green 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, $ice 0%,$green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$ice', endColorstr='$green',GradientType=0 ); /* IE6-9 */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        img {
          width: 400px;
          height: 600px;
          background: $black;
          border: 8px solid $white;
          border-bottom: 0;
          display: block;
          position: relative;
          margin-bottom: -220px;
          margin-right: -100px;
        }
        .text-container {
          max-width: 20vw;
        }
      }
    
    .col-xs-4 {
      overflow: hidden;
      .greenery.right {
        display: block;
        transform: scale(1.1) rotate(-10deg);
        margin-top: -20px;
      }
      .circle-logo {
        filter: invert(100);
        width: 300px;
        height: 300px;
        display: block;
        position: absolute;
        margin-left: -60px;
        margin-top: -15px;
        z-index: 1;
      }
    }
  }
}


@media only screen and (max-width: 1024px) {
  .row .section-content {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    .gradient-container{
      height: 100% !important;
      width: auto !important;
      display: block;
      padding: 0px !important;
      background: transparent !important;
     img {
       display: none !important;
     }
     .text-container {
       max-width: initial !important;
       padding: 5px;
       padding-top: 0px;
       font-size: 10px;
       position: relative;
       z-index: 999;
     }
   }
   .col-xs-4 {
    min-height: 100px;
    width: 100vw;
    .circle-logo {
      width: 100px ;
      height: 100px ;
      width: 100px;
      height: 100px;
      position: absolute;
      margin: 0 auto;
     } .greenery.right {
      position: absolute;
      max-height: 100%;
      top: 0;
      opacity: .6;
     }
   }

  }
  #section-one {
    height: auto !important;
  }
}
