#section-three {
  min-height: 100vh;
  max-height: 100vh;
}

.people-slide {
  height: 300px;
  background: $ice;
  border: 30px solid $white;
  border-bottom: none;
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  &.hers {
    transform: skewX(-15deg);
    h3, p {
      transform: skewX(15deg);
      margin: 0;
    }
    h3 {
      font-size: 42px;
      color: #0d3141;
      font-family: $playfair;
    }
    p {
      font-size: 28px;
      color: #0d3141;
      font-family: $gotham;
      padding: 0;
    }
}
  &.his {
    transform: skewX(-15deg);
    background: #0d3141;
    h3, p {
      transform: skewX(15deg);
      margin: 0;
    }
    h3 {
      font-size: 42px;
      color: $ice;
      font-family: $playfair;
    }
    p {
      font-size: 28px;
      color: $ice;
      font-family: $gotham;
      padding: 0;
    }
  }
}

.name-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.people-image-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  transform: skewX(15deg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  img {
    height: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .people-slide {
    border-width: 5px;
    flex-direction: column;
    .name-holder {
      margin-top: 20px;
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
