@import url("https://fonts.googleapis.com/css?family=Sacramento");
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

button {
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  border: none;
  text-transform: unset;
  font-family: "gotham";
  font-size: 12px; }

.row {
  width: 100vw;
  max-width: 100vw;
  height: calc(100vw * (9/16));
  max-height: calc(100vw * (9/16));
  overflow: hidden;
  margin: 0 !important;
  height: auto !important;
  max-height: initial !important;
  min-height: initial !important;
  overflow: hidden !important; }
  .row .col-xs-12 {
    padding: 0; }
  .row .slick-section {
    width: 100vw; }

.section-title {
  font-family: "delight-script", cursive;
  font-size: 32px;
  padding-top: 40px;
  width: 100vw; }
  .section-title h2 {
    border: none;
    color: #cbefff;
    font-weight: normal;
    display: flex;
    align-items: center; }
    .section-title h2:before {
      content: '';
      border-top: 2px solid #cbefff;
      flex: 1 0 20px;
      max-width: 50%;
      margin-right: 15px;
      border-radius: 4px; }
    .section-title h2:after {
      content: '';
      border-top: 2px solid #cbefff;
      flex: 1 0 20px;
      max-width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 15px;
      border-radius: 4px; }

@font-face {
  font-family: "delight-sans";
  src: url("fonts/delight-sans.otf") format("opentype"); }

@font-face {
  font-family: "delight-script-alt";
  src: url("fonts/delight-script-alt.otf") format("opentype"); }

@font-face {
  font-family: "delight-script";
  src: url("fonts/delight-script.otf") format("opentype"); }

@font-face {
  font-family: "delight-serif";
  src: url("fonts/delight-serif.otf") format("opentype"); }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.125em;
  padding: 0; }

label {
  display: block;
  font-weight: 100;
  margin-bottom: 0.125em;
  padding: 0.25em; }

input,
select,
textarea {
  display: block;
  font-family: "Gotham";
  font-size: 11px;
  color: #757575; }

input:not(#mobilePhone), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.25em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input:not(#mobilePhone):hover, textarea:hover {
    border-color: shade(#ddd, 20%); }
  input:not(#mobilePhone):focus, textarea:focus {
    border-color: #cbefff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(203, 239, 255, 0.7);
    outline: none; }
  input:not(#mobilePhone):disabled, textarea:disabled {
    background-color: shade(#fff, 5%);
    cursor: not-allowed; }
    input:not(#mobilePhone):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  input:not(#mobilePhone)::placeholder, textarea::placeholder {
    color: tint(#333, 40%); }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.125em; }

[type="file"] {
  margin-bottom: 0.25em;
  width: 100%; }

select {
  margin-bottom: 0.25em;
  width: 100%;
  height: 27px;
  background-color: #fff;
  border: 1px solid #ddd; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: none; }

.contact-container {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .contact-container #contact-form {
    width: 600px; }
  .contact-container .form-group {
    max-width: 570px; }
    .contact-container .form-group label {
      display: block;
      font-size: 11px; }
    .contact-container .form-group.full {
      width: 100%;
      padding: 15px; }
    .contact-container .form-group.half {
      width: 45%;
      float: left;
      padding: 15px; }
  .contact-container button {
    background-color: #2196f3; }

.main-nav {
  display: flex;
  position: fixed;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  top: 0px;
  margin: 0;
  padding: 0px;
  z-index: 999;
  width: 100vw;
  transition: background-color .2s ease-in-out, height .2s linear; }
  .main-nav .logo-container {
    width: 275px;
    height: 50px;
    padding-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
    position: relative; }
    .main-nav .logo-container img {
      width: 100%; }
  .main-nav .nav-links-container {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    padding: 0px 30px;
    margin: 0; }
    .main-nav .nav-links-container li {
      padding: 0px 20px; }
  .main-nav li > a {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
    font-size: 12px;
    color: #fff; }
    .main-nav li > a:hover, .main-nav li > a:active {
      border-bottom: 1px solid #fff;
      padding-bottom: 2px;
      transform: all .2s ease-in; }
    .main-nav li > a:visited {
      color: #fff; }

@media only screen and (max-width: 1024px) {
  .main-nav {
    display: block;
    height: 100%;
    max-height: 300px;
    position: absolute; }
    .main-nav .logo-container {
      display: block !important;
      position: absolute !important;
      z-index: 999;
      padding: 0;
      max-width: 250px;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      top: 50%; }
    .main-nav .nav-links-container {
      display: none; } }

.row .slick-section {
  max-height: 100vh; }

.call-to-action {
  bottom: 150px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2; }
  .call-to-action img {
    width: 250px;
    border: 1px solid #fff; }
  .call-to-action .cta-description {
    border-right: none;
    height: 250px;
    font-family: "Lato", sans-serif, sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 0 30px; }
    .call-to-action .cta-description h3 {
      font-family: "delight-script", cursive, cursive;
      text-transform: lowercase;
      font-weight: 100;
      font-size: 48px;
      margin: 0px; }
    .call-to-action .cta-description p {
      font-size: 30px;
      font-weight: 100;
      letter-spacing: 10px;
      margin: 5px 0px 20px 0px; }
    .call-to-action .cta-description button {
      font-family: "Lato", sans-serif;
      font-size: 18px;
      letter-spacing: 10px;
      font-weight: bold;
      border: 1px solid #cbefff;
      background-color: #cbefff;
      min-height: 40px; }
      .call-to-action .cta-description button a {
        text-decoration: none;
        color: #05352b !important; }
        .call-to-action .cta-description button a:visited {
          color: #fff;
          text-decoration: none; }

@media only screen and (max-width: 1024px) {
  .section-title {
    padding: 0;
    font-size: 20px;
    position: relative;
    z-index: 1; }
    .section-title.first {
      margin: 0 !important; }
      .section-title.first h2 {
        margin: 0; }
    .section-title h2 {
      color: #cbefff; }
      .section-title h2:before, .section-title h2:after {
        border-color: #cbefff; }
  .call-to-action {
    height: auto;
    position: relative;
    padding: 20px 0px 40px 0px;
    margin-top: -5px;
    border-top: 2px solid #cbefff;
    bottom: 0; }
    .call-to-action .cta-description {
      width: 90%;
      border: none;
      height: unset;
      align-items: center;
      color: #05352b; }
      .call-to-action .cta-description h3 {
        font-size: calc(20px + (48 - 20) * ((100vw - 300px) / (1200 - 300))); }
      .call-to-action .cta-description p, .call-to-action .cta-description button {
        font-size: calc(18px + (48 - 18) * ((100vw - 300px) / (1200 - 300))); } }

.row {
  background: #fff;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh; }
  .row .section-content {
    display: flex; }
    .row .section-content .gradient-container {
      width: 100%;
      padding: 40px 0px;
      background: #cbefff;
      /* Old browsers */
      background: -moz-linear-gradient(top, #cbefff 0%, #05352b 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #cbefff 0%, #05352b 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #cbefff 0%, #05352b 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$ice', endColorstr='$green',GradientType=0 );
      /* IE6-9 */
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .row .section-content .gradient-container img {
        width: 400px;
        height: 600px;
        background: #cfc498;
        border: 8px solid #cfc498;
        display: block;
        position: relative;
        margin-bottom: -150px;
        margin-right: -100px; }
      .row .section-content .gradient-container .text-container {
        max-width: 25vw;
        color: #efefef;
        font-family: "Lato", sans-serif;
        text-shadow: 1px 1px 0px #648e91a4; }
    .row .section-content .col-xs-4 {
      overflow: hidden; }
      .row .section-content .col-xs-4 .greenery.right {
        display: block;
        transform: rotate(-28deg) translateX(-65px); }
      .row .section-content .col-xs-4 .circle-logo {
        width: 300px;
        height: 300px;
        display: block;
        position: absolute;
        margin-left: -60px;
        margin-top: -15px;
        z-index: 1; }

@media only screen and (max-width: 1024px) {
  .row .section-content {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 25px 0px; }
    .row .section-content .gradient-container {
      height: 100% !important;
      width: auto !important;
      display: block;
      padding: 0px !important;
      background: transparent !important; }
      .row .section-content .gradient-container img {
        display: none !important; }
      .row .section-content .gradient-container .text-container {
        max-width: 300px !important;
        padding: 5px;
        padding-top: 0px;
        font-size: 10px;
        position: relative;
        z-index: 999;
        color: #222;
        text-shadow: none; }
    .row .section-content .col-xs-4 {
      min-height: 100px;
      width: 100vw;
      max-width: 100%; }
      .row .section-content .col-xs-4 .circle-logo {
        width: 100px;
        height: 100px;
        width: 100px;
        height: 100px;
        position: absolute;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%); }
      .row .section-content .col-xs-4 .greenery.right {
        position: absolute;
        max-height: 100%;
        top: 0;
        opacity: .6;
        right: 0;
        transform: rotate(-28deg) translateX(20px); }
  #section-one {
    height: auto !important; } }

.row .section-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  box-shadow: inset 0px -125px 30px #fff; }
  .row .section-content .greenery.left {
    position: absolute;
    transform: rotate(-220deg); }
  .row .section-content .date-grid-container {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    margin-left: 160px; }
    .row .section-content .date-grid-container h2 {
      font-family: "Lato", sans-serif;
      font-size: 32px; }
    .row .section-content .date-grid-container .date-grid-banner {
      border: 10px solid #cbefff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      padding: 30px;
      border-bottom: none;
      background-color: rgba(255, 255, 255, 0.5); }
      .row .section-content .date-grid-container .date-grid-banner h3 {
        font-family: "Lato", sans-serif;
        color: #cbefff;
        font-size: 90px;
        top: 0px;
        z-index: 0;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center; }
      .row .section-content .date-grid-container .date-grid-banner h4 {
        position: absolute;
        font-family: "delight-script", cursive;
        font-size: 50px;
        line-height: 1;
        margin-top: 13px;
        color: #05352b;
        font-weight: normal; }
    .row .section-content .date-grid-container .date-grid-row-top {
      display: flex;
      flex-direction: row;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.5); }
      .row .section-content .date-grid-container .date-grid-row-top .date-grid-top-cell {
        width: 33.33%;
        border: 10px solid #cbefff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        padding: 30px; }
        .row .section-content .date-grid-container .date-grid-row-top .date-grid-top-cell h2 {
          z-index: 1; }
        .row .section-content .date-grid-container .date-grid-row-top .date-grid-top-cell h3 {
          font-family: "Lato", sans-serif;
          color: #cbefff;
          font-size: 90px;
          top: 0px;
          z-index: 0;
          line-height: 1;
          display: flex;
          justify-content: center;
          align-items: center; }
        .row .section-content .date-grid-container .date-grid-row-top .date-grid-top-cell h4 {
          position: absolute;
          font-family: "delight-script", cursive;
          font-size: 50px;
          line-height: 1;
          margin-top: 0px;
          color: #05352b;
          font-weight: normal; }
        .row .section-content .date-grid-container .date-grid-row-top .date-grid-top-cell.middle {
          border-left: none;
          border-right: none; }
        .row .section-content .date-grid-container .date-grid-row-top .date-grid-top-cell.right h3 {
          top: 0px; }
    .row .section-content .date-grid-container .date-grid-row-bottom {
      display: flex;
      flex-direction: row;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.5); }
      .row .section-content .date-grid-container .date-grid-row-bottom .date-grid-bottom-cell {
        width: 50%;
        border: 10px solid #cbefff;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: none;
        flex-direction: column;
        font-family: "Lato", sans-serif;
        color: #222;
        overflow: hidden; }
        .row .section-content .date-grid-container .date-grid-row-bottom .date-grid-bottom-cell a {
          font-family: "Lato", sans-serif, sans-serif;
          font-size: 18px;
          font-weight: bold;
          border: 1px solid #cbefff;
          background-color: #cbefff;
          min-height: 40px;
          color: #05352b;
          padding: 10px 20px;
          text-decoration: none; }
          .row .section-content .date-grid-container .date-grid-row-bottom .date-grid-bottom-cell a:visited {
            color: #05352b; }
          .row .section-content .date-grid-container .date-grid-row-bottom .date-grid-bottom-cell a:hover {
            border-bottom: 1px solid #cbefff; }
        .row .section-content .date-grid-container .date-grid-row-bottom .date-grid-bottom-cell.right {
          border-left: none; }
        .row .section-content .date-grid-container .date-grid-row-bottom .date-grid-bottom-cell h2 {
          font-size: 50px;
          font-family: "delight-script", cursive;
          font-weight: normal;
          margin: 10px;
          color: #05352b; }
        .row .section-content .date-grid-container .date-grid-row-bottom .date-grid-bottom-cell h3 {
          font-size: 24px;
          font-weight: 100 !important;
          margin: 0;
          text-align: center; }
        .row .section-content .date-grid-container .date-grid-row-bottom .date-grid-bottom-cell h4 {
          font-size: 18px;
          font-weight: 300 !important;
          margin: 15px 0;
          text-align: center; }

.details-image {
  max-width: 70%;
  position: relative;
  border: 10px solid #cfc498;
  z-index: 0; }

.backround-accent-details {
  height: 700px;
  width: 90%;
  background-color: #cbefff;
  position: absolute;
  z-index: 0;
  margin-top: -40px; }

.details-image-flowers {
  max-width: 400px;
  position: absolute;
  right: 16%;
  margin-top: 18%;
  z-index: 9; }

@media only screen and (max-width: 1024px) {
  #section-two .section-content .date-grid-container {
    width: 100%;
    margin: 0;
    height: auto; }
  #section-two, #section-one, #section-three, #section-four, #section-five {
    min-height: 0px !important;
    max-height: 100% !important;
    height: 100% !important;
    overflow: hidden; }
  .details-image-flowers, .details-image {
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100px; }
  .details-image {
    max-width: 300px;
    margin-top: 100px; }
  .date-grid-container {
    margin-top: -50px;
    margin-left: 0px !important; }
    .date-grid-container .date-grid-row-top {
      flex-direction: column !important;
      display: none !important; }
      .date-grid-container .date-grid-row-top .date-grid-top-cell {
        width: 100% !important;
        border: none !important;
        padding: 10px 0px !important; }
    .date-grid-container .date-grid-row-bottom {
      flex-direction: column !important; }
      .date-grid-container .date-grid-row-bottom .date-grid-bottom-cell {
        width: 100% !important;
        border: none !important; }
        .date-grid-container .date-grid-row-bottom .date-grid-bottom-cell p {
          line-height: 1;
          text-align: center; }
  #section-two .section-content {
    margin-top: 0;
    height: 100%; }
  .date-grid-banner {
    border: none !important;
    display: none !important; }
    .date-grid-banner h3 {
      font-size: 40px !important; }
    .date-grid-banner h4 {
      text-align: center; } }

#section-three {
  min-height: 100vh;
  max-height: 100vh; }

.people-slide {
  height: 300px;
  background: #cbefff;
  border: 30px solid #fff;
  border-bottom: none;
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .people-slide.hers {
    transform: skewX(-15deg); }
    .people-slide.hers h3, .people-slide.hers p {
      transform: skewX(15deg);
      margin: 0; }
    .people-slide.hers h3 {
      font-size: 42px;
      color: #0d3141;
      font-family: "Playfair Display", serif; }
    .people-slide.hers p {
      font-size: 28px;
      color: #0d3141;
      font-family: "Lato", sans-serif;
      padding: 0; }
  .people-slide.his {
    transform: skewX(-15deg);
    background: #0d3141; }
    .people-slide.his h3, .people-slide.his p {
      transform: skewX(15deg);
      margin: 0; }
    .people-slide.his h3 {
      font-size: 42px;
      color: #cbefff;
      font-family: "Playfair Display", serif; }
    .people-slide.his p {
      font-size: 28px;
      color: #cbefff;
      font-family: "Lato", sans-serif;
      padding: 0; }

.name-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px; }

.people-image-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  transform: skewX(15deg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px; }
  .people-image-container img {
    height: 100%; }

@media only screen and (max-width: 1024px) {
  .people-slide {
    border-width: 5px;
    flex-direction: column; }
    .people-slide .name-holder {
      margin-top: 20px; }
      .people-slide .name-holder h3 {
        font-size: 20px; }
      .people-slide .name-holder p {
        font-size: 14px; } }

#section-four {
  min-height: 100vh;
  max-height: 100vh; }

.column-container {
  background-image: url("images/pattern.jpg");
  height: 650px;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #cfc498;
  border-bottom: 5px solid #cfc498; }
  .column-container .hotel-banner {
    position: absolute;
    margin-top: -280px;
    font-family: "delight-script", cursive;
    font-size: 30px;
    color: #222;
    font-weight: normal; }
    .column-container .hotel-banner h3 {
      font-weight: normal; }
  .column-container .col-xs-2 {
    height: 75%;
    width: 300px;
    border: 1px solid #eee;
    margin: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    color: #05352b; }
    .column-container .col-xs-2 h4 {
      font-size: 30px;
      margin: 10px 0px;
      color: #cfc498; }
    .column-container .col-xs-2 h5 {
      font-size: 19px;
      font-family: "delight-script", cursive; }
      .column-container .col-xs-2 h5 span {
        font-size: 28px;
        font-family: "Lato", sans-serif; }
    .column-container .col-xs-2 a {
      padding: 10px 20px;
      background-color: #cbefff;
      color: #05352b;
      text-decoration: none;
      margin-top: 15px;
      font-weight: bold; }
      .column-container .col-xs-2 a:hover {
        text-decoration: underline; }

@media only screen and (max-width: 1024px) {
  .row .column-container {
    height: 100% !important;
    background-image: none;
    border: none;
    flex-direction: column; }
    .row .column-container .hotel-banner {
      position: relative;
      margin-top: 0px;
      line-height: 1;
      text-align: center;
      font-weight: normal; }
      .row .column-container .hotel-banner h3 {
        font-weight: normal; }
    .row .column-container .col-xs-2 {
      min-height: 500px;
      width: 285px !important;
      flex-basis: 285px !important;
      max-width: 286px; } }

#section-five {
  min-height: 100vh;
  max-height: 100vh; }

.column-container-registry {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .column-container-registry .column {
    max-height: 200px;
    width: 300px;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px; }
    .column-container-registry .column.col-1 {
      border-top: 1px solid #cfc498;
      padding-top: 30px;
      position: relative; }
      .column-container-registry .column.col-1:before {
        content: "";
        height: 100px;
        width: 1px;
        background: #cfc498;
        display: block;
        position: absolute;
        bottom: 100%; }
    .column-container-registry .column.col-3 {
      border-bottom: 1px solid #cfc498;
      padding-bottom: 30px;
      position: relative; }
      .column-container-registry .column.col-3:after {
        content: "";
        height: 100px;
        width: 1px;
        background: #cfc498;
        display: block;
        position: absolute;
        top: 100%; }
    .column-container-registry .column .registry-logo {
      display: flex;
      justify-content: center;
      align-items: center; }
      .column-container-registry .column .registry-logo.first {
        width: 300px; }
      .column-container-registry .column .registry-logo.second {
        height: auto;
        width: 100px; }
      .column-container-registry .column .registry-logo.third {
        width: 500px;
        margin-top: 10px; }

@media only screen and (max-width: 1024px) {
  .column-container-registry .column .registry-logo.third {
    max-width: 280px; }
  .steps_container_shrinker {
    width: auto !important; } }

.rsvp {
  background-color: #cbefff; }
  .rsvp .invert {
    filter: grayscale(100) brightness(0) invert(100); }

@media only screen and (max-width: 1024px) {
  .rsvp {
    background-color: #fff; }
    .rsvp .invert {
      filter: invert(0); } }
